In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('wix_prices.csv')

In [3]:
print df['High']

0       56.599998
1       55.650002
2       55.400002
3       55.950001
4       57.150002
5       57.849998
6       57.150002
7       54.400002
8       55.200001
9       55.849998
10      57.360001
11      58.900002
12      62.099998
13      71.550003
14      71.800003
15      70.794998
16      71.349998
17      70.753998
18      70.550003
19      70.099998
20      68.599998
21      68.199997
22      69.949997
23      70.500000
24      70.000000
25      69.250000
26      69.050003
27      69.949997
28      69.349998
29      69.199997
          ...
992     28.370001
993     28.379999
994     26.000000
995     24.639999
996     25.400000
997     26.490000
998     25.540001
999     25.490000
1000    24.180000
1001    22.790001
1002    22.450001
1003    23.500000
1004    22.990000
1005    20.530001
1006    20.000000
1007    18.320000
1008    18.400000
1009    18.299999
1010    18.410000
1011    18.500000
1012    18.889999
1013    18.879999
1014    17.799999
1015    17.500000
1016    17.500000
1017    18.770000
1018    18.770000
1019    18.090000
1020    16.860001
1021    18.900000
Name: High, Length: 1022, dtype: float64

In [4]:
print df['High'].shift(5)

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5       56.599998
6       55.650002
7       55.400002
8       55.950001
9       57.150002
10      57.849998
11      57.150002
12      54.400002
13      55.200001
14      55.849998
15      57.360001
16      58.900002
17      62.099998
18      71.550003
19      71.800003
20      70.794998
21      71.349998
22      70.753998
23      70.550003
24      70.099998
25      68.599998
26      68.199997
27      69.949997
28      70.500000
29      70.000000
          ...
992     28.889999
993     28.490000
994     28.799999
995     28.000000
996     28.320000
997     28.370001
998     28.379999
999     26.000000
1000    24.639999
1001    25.400000
1002    26.490000
1003    25.540001
1004    25.490000
1005    24.180000
1006    22.790001
1007    22.450001
1008    23.500000
1009    22.990000
1010    20.530001
1011    20.000000
1012    18.320000
1013    18.400000
1014    18.299999
1015    18.410000
1016    18.500000
1017    18.889999
1018    18.879999
1019    17.799999
1020    17.500000
1021    17.500000
Name: High, Length: 1022, dtype: float64

In [5]:
dates = ['2014-11-05', '2015-02-11', '2015-05-06', '2015-08-05', '2015-11-04', '2016-02-10', '2016-05-04',
            '2016-07-27','2016-11-10','2017-02-15','2017-05-10','2017-07-27', '2017-11-08']

In [6]:
print dates

['2014-11-05', '2015-02-11', '2015-05-06', '2015-08-05', '2015-11-04', '2016-02-10', '2016-05-04', '2016-07-27', '2016-11-10', '2017-02-15', '2017-05-10', '2017-07-27', '2017-11-08']